*{
    margin:0;
    padding:0;
}
.footer{
    text-align: center;
}
:root{
    --height-navbar:59px;
}
#navbar{
    display:flex;
    align-items:center;
    flex-direction: row;
    position:sticky;
    
}

#navbar::before{
    content:"";
    background-color:black;
    top:0;
    left:0;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
    
}



#navbar ul{
    display:flex;
}

#navbar ul li{
    list-style:none;
    font-size:1.3rem;
}

#navbar ul li a{
    color:white;
    border-radius:20px;
    display:block;
    text-decoration:none;
    padding:3px 22px;
    font-family:'Baloo Bhai';
}

#navbar ul li a:hover{
    background-color:white;
    color:black;
}

#home{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    height:550px;
    justify-content:center;
}
#home::before{
    content:"";
    background:url('bg1.jpeg') no-repeat center center/cover;
    top:0px;
    left:0px;
    position:absolute;
    background-size:100%;
    height:570px;
    width:100%;
    z-index:-1;
    opacity:0.89;
}

#heading1{
    color:white;
    padding:22px;
}
#para{
    color:white;
    padding:5px;
    font-size:1.5rem;
}

#boton{
    background-color:brown;
    color:white;
    font-size:1.3rem;
    border-radius:10px;
    padding:5px 20px;
    margin-top:20px;
}


.hey{
    text-align:center;
}
#service{
    margin:34px;
    display:flex;
}

#service .box{
    border:2px solid brown;
    border-radius:20px;
    padding:34px;
    margin:2px 22px;
    display:block;
  
}

#service img{
    height:150px;
    width:150px;
    margin:auto;
    display:block;
}

#about{
    align-items:center;
}
#brands{
    margin-left:50px;
    margin-top:30px;
    height:100%;
    width:900px;
}

#contact{
    align-items:center;
}

.site-header
{
    
    height:100vh;
    font-family: Arial, Helvetica, sans-serif,helvetica neue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.site-header-content
{
 margin: 10px;
}

/* .profile-pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
} */

body{
    margin: 0;
    background: linear-gradient(0deg,rgb(250, 221, 94),rgb(248, 134, 4),rgb(197, 5, 245)),rgb(69, 2, 253);
}
.hexagon
{
    position: absolute;
    top: 50%;
    left:50;
    transform: translate(-50%,-50%) rotate(120deg);
    width: 400px;
    height: 275px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    
}
.hexagon-inner
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-60deg);
    overflow: hidden;
    background: transparent;
}
.hexagon-inner-in
{

    height: 100%;
    border-radius: 50%;
    transform: rotate(-60deg);
    overflow: hidden;
    background: url("https://www.google.com/logos/doodles/2019/omar-khayyams-971st-birthday-6192814449754112-l.png");
    background-size: contain;
}
